* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body {
  width: 100%;
  /* size: 100%; */
  font-family: "Poppins";
  /* overflow-x:scroll; */
  min-height: 100vh;
}
body {
  background-color: black;
}
a {
  text-decoration: none;
}
:root {
  --color-nonmetal: #d91a5b;
  --color-noble-gas: #965ba5;
  --color-alkali-metal: #f1c41b;
  --color-alkaline-earth-metal: #e67d26;
  --color-metalloid: #00a79d;
  --color-halogen: #51a4cd;
  --color-post-transition-metal: #2e3e51;
  --color-transition-metal: #216fa2;
  --color-lanthanide: #e94c3b;
  --color-actinide: #55b749;
}
#container {
  /* overflow: auto; */
  display: flex;
  flex-direction: column;
}
#searchnF {
  width: 100vw; /* OR better: inherit from a scroll-wide parent */
  position: sticky;
  top: 0;
  left: 0;
  z-index: 1000;
  display: flex;
  gap: 10px;
  justify-content: center;
}
#searchInput {
  height: 30px;
  padding: 10px;
}
#categoryFilter {
  height: 30px;
}

#periodic-table {
  width: max-content;
  overflow: visible;
  display: flex;
  flex-direction: column;
}
#upper-elements {
  width: max-content;
  overflow: visible;
  margin-top: 20px;
  margin-left: 20px;
  margin-right: 20px;
  display: grid;
  grid-template-columns: repeat(18, 1fr);
  grid-auto-rows: 80px;
  gap: 5px;
}
#grp {
  display: grid;
  grid-template-columns: repeat(18, 1fr);
  margin-bottom: 10px;
}
#fblock {
  display: flex;
  width: 100%;
  height: auto;
  margin-top: 20px;
}
#fbl {
  width: 22%;
}
#fbr {
  width: 78%;
  display: grid;
  grid-template-columns: repeat(15, 1fr);
  grid-auto-rows: 80px;
  gap: 5px;
}

.element {
  aspect-ratio: 1 / 1;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;

  padding: 7px;
  min-width: 80px;
  min-height: 80px;

  font-size: 12px;
  font-weight: bold;
  color: #fff;
  border: 1px solid #ccc;
  border-radius: 8px;
  text-align: center;
  background-color: gray;
  cursor: pointer;
  overflow: hidden;
  position: relative;
  transition: transform 0.3s ease, box-shadow 0.3s ease, opacity 0.3s ease;
  opacity: 1;
  pointer-events: auto;
  visibility: visible;
}
.hidden {
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
}
.main-info {
  width: 100%;
  transition: transform 0.3s ease;
  text-align: center;
}

.extra-info {
  /* width: 100%; */
  position: absolute;
  right: 8px;
  top: 8px;
  text-align: right;
  font-size: 0.6em;
  opacity: 0;
  transform: translateX(50%);
  transition: all 0.3s ease;
}
.highlighted {
  transform: scale(0.9);
  outline: 4px solid rgba(255, 174, 0, 0.938);
  background-color: #05116ebb !important;
  transition: background-color 0.4s, outline 0.4s;
}
.element:hover {
  transform: scale(1.5);
  box-shadow: 0 0 20px #fff, 0 0 40px #fff, 0 0 60px #fff;
  z-index: 10;
}

.element:hover .main-info {
  transform: scale(0.7) translateX(-30%);
  text-align: left;
}

.element:hover .extra-info {
  opacity: 1;
  transform: translateX(0%);
}
.nonmetal {
  background-color: var(--color-nonmetal);
}
.noble-gas {
  background-color: var(--color-noble-gas);
}
.alkali-metal {
  background-color: var(--color-alkali-metal);
}
.alkaline-earth-metal {
  background-color: var(--color-alkaline-earth-metal);
}
.metalloid {
  background-color: var(--color-metalloid);
}
.halogen {
  background-color: var(--color-halogen);
}
.post-transition-metal {
  background-color: var(--color-post-transition-metal);
}
.transition-metal {
  background-color: var(--color-transition-metal);
}
.lanthanide {
  background-color: var(--color-lanthanide);
}
.actinide {
  background-color: var(--color-actinide);
}
